* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.rondboven {
    height: 100px;
    padding: 30px;
    background-color: #FF88AF;
    border-radius: 0px 0px 50% 50% ;
}

i { 
    float: right;
    color: white;
}

.kleinlogo {
    padding: 10px;
    float: left;
    max-width: 37%;
}

.titel-tekst {
    color: #C42257;
    text-align: center;
}

.form {
    padding-bottom: 20px;
}

input {
    border: solid 3px;
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    border-color: #C42257;
}


.login {
    transition: .5s;
    z-index: 1;
    padding: 3px;
    margin-left: 11%;
    width: 300px;
    border-radius: 50px;
    color: white;
    text-align: center;
    background-color:#900C37 ;
    margin-bottom: 5%;
}

.login:hover {
    transform: scale(1.1);
}

.vergeten {
    transition: .5s;
    z-index: 1;
    margin-left: 18%;
    padding: 1px;
    width: 250px;
    border-radius: 50px;
    color: white;
    text-align: center;
    background-color: #C42257 ;
}

.nieuw:hover {
    transform: scale(1.1);
}

.onder {
    border-radius:100% 100%  0px 0px ;
    padding-bottom: 125px;
    background-color: #FF88AF;
}

.pad {
    padding-bottom: 41%;
}
