body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "rondboven"
    "vak1"
    "vak2"
    "vak3"
    "vak4"
    "vak5"
    "vak6"
    "vak7"
    "vak8"
    "vak9"
    "vak10"
    "rondonder";
}
    .rondboven {grid-area: rondboven; }
    .vak1 {grid-area: vak1; }
    .vak2 {grid-area: vak2; }
    .vak3 {grid-area: vak3; }
    .vak4 {grid-area: vak4; }
    .vak5 {grid-area: vak5; }
    .vak6 {grid-area: vak6; }
    .vak8 {grid-area: vak8; }
    .vak9 {grid-area: vak9; }
    .vak10 {grid-area: vak10; }
    .rondonder {grid-area: rondonder; }

